process {

  container = 'iracooke/morp:0.1'
  cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
  memory = { check_max( 6.GB * task.attempt, 'memory' ) }


  withName: 'fastp'{
      cpus            = { check_max( 12 * task.attempt, 'cpus' ) }
      memory          = { check_max( 4.GB * task.attempt, 'memory' ) }
      queue = 'normal'
  }

  withName: 'rsem_prepare_reference'{
      cpus            = { check_max( 12 * task.attempt, 'cpus' ) }
      memory          = { check_max( 4.GB * task.attempt, 'memory' ) }
      queue = 'normal'
  }

  withName: 'rsem_calculate_expression'{
      cpus            = { check_max( 12 * task.attempt, 'cpus' ) }
      memory          = { check_max( 4.GB * task.attempt, 'memory' ) }
      queue = 'normal'
  }


}

params.base_path="${launchDir}"
params.max_cpus=64
params.max_memory=200.GB
