params {
    max_cpus = 64
    max_memory = 230.Gb
}

process {
  cache = 'lenient'
  stageInMode = 'symlink'
  scratch = true

  executor = 'slurm'
  clusterOptions = "--account=${params.slurm_account}"
  queue = 'work'
  cpus = 1
  time = '1h'
  memory = '4000MB'

  withName: 'fastp'{
      cpus            = 12
      memory          = 48.Gb
  }

  withName: 'rsem_prepare_reference'{
      cpus            = 12
      memory          = 48.Gb
  }

  withName: 'rsem_calculate_expression'{
      cpus            = 12
      memory          = 48.Gb
  }


}

workDir = "$MYSCRATCH/nxf_work"

executor {
      queueSize = 250
}    
  
singularity {
      enabled = true
      envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
      cacheDir = "$MYSOFTWARE/.nextflow_singularity"
      runOptions = "--rocm"
}
